! -----------------------------------------------------------------------------
! .Xresources v2.1 - Catppuccin Mocha Edition
! -----------------------------------------------------------------------------

! ---[ 1. DEFINITIONS ]--------------------------------------------------------
#define FONT_MONO       xft:FiraCode Nerd Font Mono:size=15:antialias=true:autohint=true
#define FONT_BOLD       xft:FiraCode Nerd Font Mono:bold:size=15:antialias=true:autohint=true
#define FONT_UI         xft:Sans:size=13:antialias=true:autohint=true

! Catppuccin Mocha Palette
#define COLOR_BG        #1e1e2e
#define COLOR_FG        #cdd6f4
#define COLOR_CURSOR    #f5e0dc
#define COLOR_BOLD      #f5c2e7

! ---[ 2. CORE TERMINAL SETTINGS ]---------------------------------------------
XTerm*termName:                 xterm-256color
XTerm*locale:                   true
XTerm*utf8:                     true

! Fonts
XTerm*vt100.faceName:           FONT_MONO
XTerm*vt100.boldFont:           FONT_BOLD
XTerm*XftFont:                  FONT_UI

! Geometry & Buffers
XTerm*vt100.geometry:           110x35
XTerm*saveLines:                16384

! Scrollbar
XTerm*scrollBar:                false
XTerm*scrollTtyOutput:          false
XTerm*scrollKey:                true

! Cursor
XTerm*cursorBlink:              true
XTerm*cursorColor:              COLOR_CURSOR
XTerm*cursorShape:              bar

! ---[ 3. BEHAVIOR & COMPATIBILITY ]-------------------------------------------
XTerm*allowMouseOps:            true
XTerm*metaSendsEscape:          true
XTerm*eightBitInput:            false
XTerm*selectToClipboard:        true

! Bell (Visual)
XTerm*visualBell:               true
XTerm*bellIsUrgent:             true
XTerm*visualBellLine:           true

! Border & Padding
XTerm*vt100.internalBorder:     2
XTerm*borderWidth:              0
XTerm*faceSize:                 13
XTerm*scaleHeight:              1.0

! ---[ 4. THEME & COLORS ]-----------------------------------------------------

XTerm*vt100.background:         COLOR_BG
XTerm*vt100.foreground:         COLOR_FG

! Bold Text Handling
XTerm*veryBoldColors:           6
XTerm*colorBDMode:              true
XTerm*colorBD:                  COLOR_BOLD

! ANSI Colors (Catppuccin Mocha)
! Black (Surface 1 / Surface 2)
XTerm*color0:                   #45475a
XTerm*color8:                   #585b70
! Red (Red)
XTerm*color1:                   #f38ba8
XTerm*color9:                   #f38ba8
! Green (Green)
XTerm*color2:                   #a6e3a1
XTerm*color10:                  #a6e3a1
! Yellow (Yellow)
XTerm*color3:                   #f9e2af
XTerm*color11:                  #f9e2af
! Blue (Blue)
XTerm*color4:                   #89b4fa
XTerm*color12:                  #89b4fa
! Magenta (Pink)
XTerm*color5:                   #f5c2e7
XTerm*color13:                  #f5c2e7
! Cyan (Sky)
XTerm*color6:                   #89dceb
XTerm*color14:                  #89dceb
! White (Subtext 1 / Subtext 0)
XTerm*color7:                   #bac2de
XTerm*color15:                  #a6adc8

! ---[ 5. UI & MENUS ]---------------------------------------------------------
XTerm*SimpleMenu*background:    COLOR_BG
XTerm*SimpleMenu*foreground:    COLOR_FG
XTerm*SimpleMenu*borderWidth:   0

! ---[ 6. KEY BINDINGS ]-------------------------------------------------------
XTerm*vt100.translations: #override \n\
    Shift <Key>Insert:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Key>Plus:       larger-vt-font() \n\
    Ctrl <Key>Minus:      smaller-vt-font() \n\
    Ctrl <Key>0:          set-vt-font(d)

! ---[ 7. XFT SETTINGS ]-------------------------------------------------------
Xft.dpi:                        96
Xft.antialias:                  1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.rgba:                       rgb
Xft.lcdfilter:                  lcddefault
